body {
    background-color: rgb(241, 162, 134);
}

p{
    background-color: rgb(232, 176, 152);
    font-size: 40px;
}

#todoList {
    max-width: 400px;
    margin: 20px auto;
}


li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 3px solid #fff;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.delete-btn {
    background-color: rgb(233, 195, 221);
    border: none;
    padding: 5px 10px;
}
#add{
    background-color: rgb(233, 195, 221);
    border:none;
    width:50px;
    height:30px;
    margin-left: 15px;
}

#newTask{
    width:300px;
    height:25px;
    margin-left: 20px;
}
